{% extends "Master/Master.twig" %}

	{% block content %}
		<section id="edit-project" class="page-section">
			<div class="container">
				<h1>edit album - <b>{{ (model.Project.Name != null) ? model.Project.Name : '' }}</b></h1>
				<div class="form-holder">
					<div class="col-md-6">
						<form class="form-horizontal" method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label for="title">Title</label>
								<input type="text" class="form-control" id="title" name="title"
									   value="{{ (model.Project.Name != null) ? model.Project.Name : '' }}"
									   placeholder="Enter Title" required>
							</div>

							<div class="form-group">
								<label for="description">Project Description</label>
									<textarea style="resize: none" placeholder="Enter Project Text" name="description"
											  rows="3"
											  class="form-control">
										{{ (model.Project.Description != null) ? model.Project.Description : '' }}
									</textarea>

							</div>
							<div class="form-group">
								<label for="picture">Picture: {{ (model.Project.Image != null) ? model.Project.Image : '' }}</label>
								<input type="file" id="picture" name="picture">
							</div>

							<div class="form-group" style="margin-top: 25px !important;">
								<label for="new-picture" class="btn btn-danger">
									Add gallery
								</label>
								<input id="new-picture" class="upload-picture-field" type="file" name="picture"
									   style="display: none" multiple/>
								<input type="hidden" id="picture-project-id" value="{{ model.Project.ProjectId }}"/>
							</div>
							<button type="submit" class="btn btn-default save-btn">Save</button>
						</form>
					</div>
					<div class="col-md-6">
						<div class="gallery" data-toggle="lightbox-gallery">
							<div class="row" id="images-go-here">
								{% for projectPicture in model.ProjectPictures %}
									<div class="col-md-4 gallery-image">
										<img src="{{ projectPicture.PictureUrl() }}" class="width-100"/>

										<div class="gallery-image-options text-center">
											<div class="btn-group btn-group-sm">
												<a href="{{ projectPicture.PictureUrl() }}"
												   class="gallery-link btn btn-sm btn-alt btn-default"
												   title="Image Info">
													View
												</a>
												<a data-pictureid="{{ projectPicture.ProjectPictureId }}"
												   href="{{ Router.Create("delete-project-picture", {projectPictureId: projectPicture.ProjectPictureId}) }}"
												   class="delete-project-image-button btn btn-sm btn-alt btn-default"
												   title="Remove">
													<i class="fa fa-times"></i></a>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	{% endblock %}

{% block footer_scripts %}
	<script src="Theme/js/jquery-ui.js"></script>
	<script type="text/javascript">


	$(document).ready(function () {

		$('[data-toggle="popover"]').popover()

		$("#new-picture").on("change", function () {
			var files = document.getElementById('new-picture').files;
			console.log(files);

			var formData = new FormData();
			for (var i = 0; i < files.length; i++) {
				var file = files[i];

				// Add the file to the request.
				formData.append('pictures[]', file, file.name);
			}

			var projectId = $("#picture-project-id").val();
			formData.append('projectId', projectId);

			var xhr = new XMLHttpRequest();
			xhr.open('POST', 'add-project-picture', true);

			xhr.onload = function () {
				if (xhr.status === 200) {
					var response = JSON.parse(xhr.response);
					for (var i = 0; i < response.length; i++) {
						var newImg =
								$("<div>").addClass("col-sm-4").addClass("gallery-image")
										.append($("<img>").attr("src", response[i].UrlThumb)
												.addClass("width-100"));


						var imageButtons =
								$("<div>").addClass("gallery-image-options").addClass("text-center").append(
										$("<div>").addClass("btn-group").addClass("btn-group-sm").append(
												$("<a>")
														.attr("href", response[i].UrlFull)
														.addClass("gallery-link btn btn-sm btn-alt btn-default")
														.attr("title", "Image Info")
														.text("View")
												)
												.append(
														$("<a>")
																.attr("data-pictureid", response[i].PictureId)
																.attr("href", "delete-project-picture/" + response[i].PictureId)
																.addClass("delete-project-image-button btn btn-sm btn-alt btn-default")
																.attr("title", "Remove").append($("<i>").addClass("fa fa-times"))
												)
								);

						newImg.append(imageButtons);

						$("#images-go-here").append(newImg);
					}
				} else {
					alert('An error occurred!');
				}
			};

			xhr.send(formData);
		});

		$("body").on("click", ".delete-project-image-button", function (e) {
			e.preventDefault();
			var pictureId = $(this).data("pictureid");

			var $this = $(this);

			$.ajax({
				url: "delete-project-picture/" + pictureId,
				method: "GET",
				success: function (response) {
					$this.closest(".gallery-image").animate({opacity: 0}, 400, "swing", function () {
						$this.closest(".gallery-image").remove();
					});
				}
			});
		});

		$("#images-go-here").sortable({
			placeholder: "portlet-placeholder col-md-4",
			helper: 'clone',
			forcePlaceholderSize: true,
			update: function (event, ui) {
				var picturesOrder = [];
				var order = 1;

				$("#images-go-here .gallery-image").each(function () {
					var pictureId = $(this).find(".delete-project-image-button").data("pictureid");
					var dto = {
						ItemId: pictureId,
						Order: order
					};

					picturesOrder.push(dto);
					order++;

				});
				console.log(picturesOrder);

				$.ajax({
					url: "order-project-pictures",
					method: "POST",
					data: {
						orders: picturesOrder
					},
					success: function (response) {
						if (response == 0) {
							/*	alert("Sorting failed. Please try again.");*/
						}
					}
				})
			}
		});
	});
</script>
{% endblock %}