{% extends "Master/Master.twig" %}

{% block content %}

	<section id="projects" class="page-section">
		<div class="container">
			<h1>Albums</h1>

			<div class=".row projects-holder">
				{% if model.Projects is not empty %}
					{% for project in model.Projects %}
						<article class="col-md-4">
							<div href="#" class="box iniBoxAnim1">
								<div class="image">
									<img src="{{ project.PicturePath() }}">
								</div>
								<div class="cover">
									<div class="box-content text-center">
										<h3>{{ project.Name }}</h3>
										<p>
											{{ project.DateCreated }}
										</p>
										<a href="{{ Router.Create("edit-project", {projectId: project.ProjectId}) }}"
										   class="btn btn-white">Edit</a>
										<a href="{{ Router.Create("delete-project", {projectId: project.ProjectId}) }}"
										   class="btn btn-white">Delete</a>
									</div>
								</div>
							</div>
						</article>
					{% endfor %}
				{% endif %}

			</div>

		</div>


	</section>

{% endblock %}