{% extends "Master/Master.twig" %}

{% block content %}
	<div class="page-section single-project-holder">

		{% if model.ProjectPictures is not empty %}


				<div id="myCarousel" class="carousel slide image-slider" data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner image-holder" role="listbox">
						{% set counter = 0 %}
						{% for projectPicture in model.ProjectPictures %}
							<div class="item {{ (counter == 0) ? "active" : "" }}">
								<img src="{{ projectPicture.PictureUrl() }}">
							</div>
							{% set counter = counter + 1 %}
						{% endfor %}
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

		{% endif %}
	</div>
{% endblock %}