/*@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Roboto:100,300,400,900&subset=cyrillic-ext,latin-ext');*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,900');

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    position: relative;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-weight: 200;
    font-size: 55px;
    letter-spacing: -2px;
    line-height: 55px;
    margin: 0 0 25px;
    text-transform: lowercase;
}

h1:after,
h2:after,
h3:after {
    content: ' ';
    background-color: #d9476a;
}

h1:after {
    width: 75px;
    height: 5px;
    display: block;
    margin-top: 10px;
}

h2:after {
    width: 75px;
    height: 5px;
    display: block;
    margin-top: 10px;
}

h3:after {
    width: 75px;
    height: 5px;
    display: block;
    margin-top: 10px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
}

h3 {

    font-weight: 700;

    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    font-weight: 500;
}

p span {
    color: #d9476a;
}

/* buttons */

.btn {
    border-radius: 3rem;
    font-weight: 700;
}

.btn.btn-white {
    border: 2px solid #fff;
    color: #fff;
    background: none;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.btn.btn-white:hover {
    color: #222;
    background: #fff;
}

.btn.btn-full-white {
    border: 2px solid #fff;
    color: #222;
    background: #fff;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.btn.btn-full-white:hover {
    color: #222;
    background: #fff;
}

.btn.btn-light {
    border: 2px solid #d9476a;
    color: #fff;
    background: #d9476a;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.btn.btn-light:hover {
    color: #fff;
    background: #b93b5c;
}

.btn.btn-dark {
    border: 2px solid #222;
    color: #fff;
    background: #222;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.btn.btn-dark:hover {
    color: #444;
    background: #fff;
}

/* all around */

.cover {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 30px;
}

.cover.white {
    background: #fff;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.cover.dark {
    background: #222;
}

.cover .icon {
    font-size: 45px;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.cover.white .icon {
    color: #444;
}

.content-left {
    padding-right: 80px;
    position: relative;
}

.content-right {
    padding-left: 80px;
    padding-right: 0;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-style: normal !important;
    font-weight: normal !important;
    margin: 0;
    font-size: inherit;
}

/* Labels */

.label-category {
    background: #d9476a;
    border-radius: 3rem;
    font-weight: 400;
}

/* Menu */

.main-nav {
    margin: 0 0 0;
    padding: 22px 0px 22px;
    position: fixed;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 1040;
    top: 0;
}

.main-nav .container-fluid {
    padding: 0 50px;
}

ul.menu {
    padding: 0;
    margin: 0;
    display: inline-block;
}

ul.menu li {
    display: inline-block;
    position: relative;
}

ul.menu li a {
    color: #555;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    display: block;
    position: relative;
    z-index: 1039;
    text-transform: lowercase;
    font-family: 'Cabin', sans-serif;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

ul.menu li a:hover {
    color: #fff;
}

ul.menu li:before {
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    content: " ";
    background: #d9476a;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

ul.menu li:hover:before {
    width: 100%;
}

ul.menu li.active:before {
    width: 100%;
}

ul.menu li.active a {
    color: #fff;
}

.logo {
    height: 45px;
}

a.header-item {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border: 1px solid #ddd;
    color: #222;
    border-radius: 3rem;
    margin-left: 5px;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

a.header-item.text {
    width: auto;
    padding: 0 20px;
    font-weight: 700;
}

a.header-item.dark {
    border: 1px solid #222;
    color: #fff;
    background: #222;
}

a.header-item:hover {
    border: 1px solid #222;
    color: #fff;
    background: #222;
    text-decoration: none;
}

/* trust element */

.numbers {
    margin-top: 40px;
}

.numbers h4 {
    font-size: 20px;
    margin-top: 5px;
    font-weight: 200;
}

.numbers i {
    font-size: 40px;
    color: #d9476a;
}

.numbers .media p {
    color: #d9476a;
}

/* page-header */

.main-header {
    margin-top: 89px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-header .container {
    margin-top: 70px;
}

video#bgvid {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.main-header h1,
.main-header p {
    color: #fff;
}

.main-header .numbers h4 {
    color: #fff;
}

.main-header .numbers i {
    color: #fff;
}

/*Sections*/

.page-section {
    padding: 115px 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-image: url(../media/theme/cubes2.png);
    display: table;
    /* z-index: 1039;
     position: fixed;*/
    overflow: hidden;
    /* transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1); */
}

.page-section.landing-section {
    padding: 50px 0;
}

.page-section.closed {
    opacity: 0;
    z-index: 0;
    transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.section-content {
    display: table-cell;
    vertical-align: middle;
}

.action-section {
    padding: 50px;
    background-color: #d9476a;
    background-image: url(../media/theme/cubes.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.action-section a.btn {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin: 0 5px;
}

/* boxes */

.box {
    background-color: #fff;
    width: 100%;
    height: 360px;
    display: block;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.box:hover .image {
    transform: scale3d(1.4,1.4,1.4);
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.box.main {
    height: 555px;
}

.main-box-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 200px;
}

.cover .main-box-content h2 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.cover .main-box-content p {
    color: #fff;
}

.box .cover {
    display: table;
    height: 100%;
}

.box-content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    opacity: 0;
    transition: all 1s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.cover.white .box-content {
    opacity: 1;
}

.box-content .label {
    padding: 7px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 400;
}

.cover .box-content h3 {
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 10px 0;
}

.cover .box-content h3:after {
    display: none;
}

.cover .box-content p {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.cover.white .box-content h3 {
    color: #000;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.cover.white .box-content p {
    color: #000;
    transition: all 0.6s cubic-bezier(0.7, 0.5, 0.3, 1);
}

.box:hover .cover .box-content {
    opacity: 1;
}

.box:hover .cover.white .box-content .icon {
    color: #fff !important;
}

.box:hover .cover.white .box-content h3 {
    color: #fff;
}

.box:hover .cover.white .box-content p {
    color: #fff;
}

.box .cover:before {
    content: ' ';
    position: absolute;
    background: rgba(34,34,34,0.9);
    left: 10px;
    right: 10px;
    opacity: 0;
    top: 10px;
    transition: all 0.4s cubic-bezier(0.7, 0.5, 0.3, 1);
    bottom: 10px;
    transform: scale3d(0.8,0.8,0.8);
}

.box .cover.white:before {
    background: rgba(34,34,34,1);
}

.box:hover .cover:before {
    opacity: 1;
    transform: scale3d(1,1,1);
}

.box-content .btn {
    display: inline-block;
    margin-top: 20px;
}

/* Item image */

.item-image img {
    width: 100%;
    margin-top: 100px;
}

/* footer */

footer {
    padding: 30px;
    width: 100%;
    background-color: #222;
    /*background-image: url(../media/theme/servbg2.png);
    background-repeat: repeat-x;
    background-position: center;*/
}

footer img {
    height: 60px;
    margin-bottom: 20px;
}

.footer-content {
    padding: 10px 0;
    border-top: 1px dotted rgba(255,255,255,0.1);
}

ul.footer-menu li {
    display: inline-block;
}

ul.footer-menu {
    padding: 0;
}

ul.footer-menu li a {
    padding: 5px 8px;
    color: #fff;
    font-weight: 300;
    transition: all 0.3s ease-out;
    border-radius: 3rem;
}

ul.footer-menu li a:hover {
    background-color: #d9476a;
}

.gallery-image img {
    width: 100%;
}