{% extends "Master/Master.twig" %}

{% block content %}

	<section class="page-section">
		<div class="container">
			<div class="row" style="margin-bottom: 50px;">

				<div class="col-md-6 content-left iniBoxAnim1">
					<h1>Ubrium One - Free Bootstrap Template <small>v0.9</small></h1>
					<p>
						Ubrium Galactic is creative international <span>software company</span>, based in USA and
						Europe. We
						can efficiently respond to any challenge you can provide us! We develop high quality web
						software.
						We are skilled in technologies like <span>PHP, NodeJS,
                    C#, MySQL, MongoDB, HTML5, CSS3, Angular</span>. We also provide Web, Graphic and 3D design
						services.
					</p>


					<h3>Technologies and libraries used</h3>
					<span class="label label-category">HTML5</span>
					<span class="label label-category">CSS3</span>
					<span class="label label-category">Javascript</span>
					<span class="label label-category">jQuery</span>
					<span class="label label-category">jQuery Waypoint</span>
					<span class="label label-category">Bootstrap</span>
					<br>
					<br>

					<a href="one" target="_blank" class="btn btn-dark">Live Demo</a>
					<a href="#" class="btn btn-light">Download</a>
				</div>
				<div class="col-md-6 item-image iniBoxAnim2">
					<img src="Theme/media/portfolio/one/one.png" alt="">
				</div>
			</div>
		</div>
	</section>

{% endblock %}