<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
	<!--<![endif]-->

	<head>
		<base href="{{ constant('Config::baseurl') }}"/>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ika Makeup Studio</title>
		<meta name="description"
			  content="Description of Gynny homepage. We can add description for each page here, and that is good for SEO">
		<meta name="keywords" content="partner shops, project donation, etc"/>
		<meta name="author" content="Gynny GmbH and Ubrium Galactic LLC"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css section -->

		<link rel="stylesheet" href="Theme/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="Theme/slick/slick.css"/>
		<link rel="stylesheet" href="Theme/slick/slick-theme.css"/>
		<link rel="stylesheet" href="Theme/fontawesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="Theme/font/flaticon.css"/>
		<link rel="stylesheet" href="Theme/css/style.css"/>
		<link rel="stylesheet" href="Theme/css/mojega.css"/>

		<link rel="stylesheet" href="Theme/css/responsive.css"/>
		<link rel="stylesheet" href="Theme/css/animations.css"/>


	</head>
	<body>

		<nav id="header" class="main-nav">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6">
						<a href="{{ Router.Create('home') }}">
						<img src="Media/makeup-logo.jpg" alt="Talason Studio logo" class="logo">
						</a>
					</div>
					<div class="col-xs-6 text-right">

						<ul class="menu">
							<li class="active"><a href="{{ Router.Create('landing') }}">Portfolio</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#work">work</a></li>
							<li><a href="#refferals">Referrals</a></li>
						</ul>

					</div>
				</div>
			</div>
		</nav>


		{% block content %}
		{% endblock %}
		<footer class="text-center">
			<div class="container">
				<img src="Media/makeup-logo.jpg" alt="Ika makeup">
				<div class="row footer-content">
					<div class="col-md-6">
						<ul class="footer-menu text-left">
							<li><a href="https://www.facebook.com/pg/Ika-makeup-612116822227066/about/?ref=page_internal" target="_blank"><i class="fa fa-facebook"></i> </a></li>
							<li><a href="#"><i class="fa fa-instagram"></i> </a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i> </a></li>
							<li><a href="tel:064 1815703"><i class="fa fa-phone"></i>: 064 1815703 </a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="footer-menu text-right">
							<li><a href="#">©Ubrium Galactic LLC, 2016</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Javascript -->

		<script src="Theme/js/min/jquery.min.js"></script>
		<script src="Theme/bootstrap/js/bootstrap.min.js"></script>
		<script src="Theme/js/min/jquery.waypoints.min.js"></script>
		<script src="Theme/js/main.js"></script>
		<script src="Theme/slick/slick.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

		<script>
			$(function() {
				$('a[href*="#"]:not([href="#"])').click(function() {
					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
						if (target.length) {
							$('html, body').animate({
								scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});
		</script>

	</body>
</html>