@media screen and (min-width: 320px) and (max-width: 440px) {

    h2 {
        font-size: 30px;
        font-weight: 300;
        text-align: left;
    }

    .responsive-margin {
        margin-right: 0;
    }

    .one-nav .container {
        position: relative;
        padding: 0 15px;
    }

    .float-left {
        float: left;
        width: 100%;
    }

    .float-right {
        float: right;
        width: 100%;
    }

    article.media.wall-item p.product-description {
        display: none;
    }

    .product-image {
        width: 50px;
        height: 50px;
    }

    .sorting button.btn.btn-light {
        font-size: 12px;
    }

    .sorting {
        text-align: center;
        margin-bottom: 0;
    }

    ul.slick-dots {
        bottom: -50px;
    }

    h2:after {
        margin: 20px 0;
    }

    p {
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 5px;
    }

    .header-content h1 {
        font-weight: 200;
        font-size: 40px;
    }

    .content-left {
        padding-right: 15px;
        border-right: solid 0 rgba(223, 223, 223, 0.72);
    }

    .content-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .trust-element {
        text-align: left;
    }

    .trust-element span.count {
        font-size: 30px;
        font-weight: 200;
    }

    .container {
        padding: 15px;
    }

    .one-nav {
        height: 80px;
        position: absolute;
    }

    .main-nav {
        display: none;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }

    article.main-project-box {
        padding: 15px;
    }

    .project-action .container {
        padding: 0 10px;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }

    /* animation */
    .iniAnim1 {
        opacity: 1;
        transform: rotateY(0deg);
    }

    .iniAnim2 {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    .iniAnim3 {
        transform: rotateX(0deg);
        opacity: 1;
    }

    .iniAnim4 {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    .iniAnim5 {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
    .content-left {
        padding-right: 15px;
        border-right: solid 0 rgba(223, 223, 223, 0.72);
    }

    .content-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-nav {
        display: none;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .content-left {
        padding-right: 15px;
        border-right: solid 0 rgba(223, 223, 223, 0.72);
    }

    .content-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slick-prev, .slick-next {
        display: none !important;
    }
}