{% extends "Master/Master.twig" %}

{% block content %}

	<section id="referrals-content" class="page-section">
		<div class="container">

			<div class="referrals-content-holder">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<h1>Referrals</h1>
							<div class="media referrals-box iniBoxAnim1">
								<a class="media-left" href="#">
									<div class="media-object"
										 style="background-image: url(Media/referrals/download.jpg)"
									></div>
								</a>
								<div class="media-body iniBoxAnim1">
									<h4 class="media-heading">ING Software</h4>
									"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
									sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
									viverra
									turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
									felis in faucibus."
									<p>- Misko -<br>
										<span>UX developer</span></p>
								</div>
							</div>
							<div class="media referrals-box iniBoxAnim2">
								<a class="media-left" href="#">
									<div class="media-object"
										 style="background-image: url(Media/referrals/imaz1.jpg)"
									></div>
								</a>
								<div class="media-body">
									<h4 class="media-heading">Webelinx</h4>
									"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
									sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
									viverra
									turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
									felis in faucibus."
									<p>- Andrija -<br>
										<span>Marketing Manager</span></p>
								</div>
							</div>
							<div class="media referrals-box iniBoxAnim3">
								<a class="media-left" href="#">
									<div class="media-object"
										 style="background-image: url(Media/referrals/stojko.png)"
									></div>
								</a>
								<div class="media-body">
									<h4 class="media-heading">Ates</h4>
									"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
									sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
									viverra
									turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
									felis in faucibus."
									<p>- Jon Doe -<br>
										<span>HR</span>
									</p>
								</div>
							</div>
							<div class="media referrals-box iniBoxAnim4">
								<a class="media-left" href="#">
									<div class="media-object"
										 style="background-image: url(Media/referrals/person1.jpg)"
									></div>
								</a>
								<div class="media-body">
									<h4 class="media-heading">Ubrium Galactic</h4>
									"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
									sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
									viverra
									turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
									felis in faucibus."
									<p>- Mihajlo Ljubenovic -<br>
										<span>Lead frontend developer</span></p>
								</div>
							</div>
							<div class="media referrals-box iniBoxAnim5">
								<a class="media-left" href="#">
									<div class="media-object"
										 style="background-image: url(Media/referrals/imgres.jpg)"
									></div>
								</a>
								<div class="media-body">
									<h4 class="media-heading">Gentleman Development</h4>
									"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
									sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
									viverraCras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
									ante sollicitudin commodo."
									<p>- Nikola Popovic -<br>
										<span>Project Manager</span></p>
								</div>
							</div>
							<div class="media referrals-box iniBoxAnim6">
								<a class="media-left" href="#">
									<div class="media-object"
										 style="background-image: url(Media/referrals/34056af-mmmldm0rf62kdoo1vay51nfwgjhrylkgf72anv3le4.jpg)"
									></div>
								</a>
								<div class="media-body">
									<h4 class="media-heading">Helix Studio</h4>
									"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
									sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
									viverraCras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
									ante sollicitudin commodo."
									<p>- Baba Nesa -<br>
										<span>Babetina</span></p>


								</div>
							</div>


						</div>
						<div class="col-md-3"></div>


					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="action-section">
		<div class="container text-center">
			<a href="#" class="btn btn-full-white iniBoxAnim1">More about us</a>
			<a href="#" class="btn btn-dark iniBoxAnim2">Contact Us!</a>
		</div>
	</section>

{% endblock %}