	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/11/2016 13:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-alarm-clock:before { content: "\f100"; }
.flaticon-calendar:before { content: "\f101"; }
.flaticon-facebook-logo:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-id-card:before { content: "\f104"; }
.flaticon-instagram-logo:before { content: "\f105"; }
.flaticon-letter:before { content: "\f106"; }
.flaticon-portfolio:before { content: "\f107"; }
.flaticon-price-tag:before { content: "\f108"; }
.flaticon-suitcase:before { content: "\f109"; }
.flaticon-twitter-logo-silhouette:before { content: "\f10a"; }
.flaticon-work-station:before { content: "\f10b"; }