<!-- FOOTER -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" align="center" style="padding: 20px 0px;">
			<!-- UNSUBSCRIBE COPY -->
			<table width="500" border="0" cellspacing="0" cellpadding="0" align="center"
				   class="responsive-table">
				<tr>
					<td align="center"
						style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;">
						<a style="color: #666666; text-decoration: none;">Ubrium Galactic</a><br>
                        <span class="appleFooter" style="color:#666666;">
							 Decanska 15<br>
							support@ubrium.com <br>
							 www.ubrium.com
						</span><br>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

