{% extends "Master/Master.twig" %}

{% block content %}
	<header class="main-header">

		<div class="">
			<div class="container">
				<div class="row">

					<div class="fade-slider">
						<div>
							<img src="Media/pictures/media-share-0-02-05-7b19dde591eddda9d29c1f778fa0a4560476ea0488565255b077ec762d485ff8-a64a03a6-f691-4983-91d2-457e0daf5aa6.jpg">
						</div>
						<div>
							<img src="Media/pictures/media-share-0-02-05-45545ac100762aa7a91e7bc4635a51d001c892eb3bc9b84a8d61a5f133994460-56dd92bd-d272-46ba-a5f0-26e7df26882a.jpg">
						</div>
						<div>
							<img src="Media/pictures/media-share-0-02-05-780127b6a98cf32bd08e9cdde3162a97bde2ad859d28898037ada8a2da0dc613-58d6b71d-57a6-4c3e-815e-737ed7b9a098.jpg">
						</div>
						<div></div>
						<div></div>
					</div>


				</div>
			</div>
		</div>
	</header>


	<div class="page-section studio-information" id="about">
		<div class="container">
			<div class="info-holder">
				<div class="col-md-4">
					<h3>Welcome to makeup Studio</h3>
					<p>"Skilled and up to date with the latest hair styles, hair cuts, and color trends, our small team
						of hair professionals are ready to help make you feel and look great."</p>

				</div>
				<div class="col-md-4">
					<img src="Media/ivana.jpg">
				</div>
				<div class="col-md-4">
					<h3>Opening Hours</h3>
					<div class="content">
						<p>Mon - Fri</p>
						<h5>10:00 AM - 5:00 PM</h5>
						<br>
						<p>Saturday</p>
						<h5>10:00 AM - 3:00 PM</h5>
						<br>
						<p>Sunday</p>
						<h5>CLOSED</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="studio-video">
		<div class="container">
			<div class="video-holder">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/SvuNH80zUHc" frameborder="0"
						allowfullscreen></iframe>
			</div>
		</div>
	</div>



	<section class="page-section landing-section" id="work">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<h1>My work</h1>
				</div>
			</div>


			<div class="row">
				{% if model.Projects is not empty %}
					{% for project in model.Projects %}
						<article class="col-md-4">
							<div href="#" class="box iniBoxAnim1">
								<div class="image">
									<img src="{{ project.PicturePath() }}">
								</div>
								<div class="cover">
									<div class="box-content text-center">
										<h3>{{ project.Name }}</h3>
										<p>
											{{ project.DateCreated }}
										</p>

										<a href="{{ Router.Create("single-project", {projectId: project.ProjectId}) }}"
										   class="btn btn-white">Demo</a>
									</div>
								</div>
							</div>
						</article>
					{% endfor %}
				{% endif %}

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim2">
						<div class="image"
							 style="background-image: url(Media/portfolio/dokoo/pro.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web App</span>
								<span class="label label-category">#Web Design</span>
								<h3>Dokoo.io</h3>
								<p>
									Free to use, portfolio/cv creator app
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim3">
						<div class="image"
							 style="background-image: url(Media/portfolio/talason/talason.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web Design</span>
								<h3>Talason Studio</h3>
								<p>
									Portfolio page for an architecture studio
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim1">
						<div class="image"
							 style="background-image: url(Media/portfolio/websajam/websajam.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web App</span>
								<span class="label label-category">#CMS</span>
								<h3>WebSajam.com</h3>
								<p>
									Virtual fair website
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim2">
						<div class="image"
							 style="background-image: url(Media/portfolio/gynny/bg1.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Web Design</span>
								<span class="label label-category">#Web App</span>
								<span class="label label-category">#API integration</span>
								<span class="label label-category">#CMS</span>
								<h3>Gynny.de</h3>
								<p>
									Shopping + crowd funding platform
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>

				<article class="col-md-4">
					<a href="#" class="box iniBoxAnim3">
						<div class="image"
							 style="background-image: url(Media/portfolio/perennial/mitte_michel.jpg)"></div>
						<div class="cover">
							<div class="box-content">
								<span class="label label-category">#Dev branch</span>
								<h3>Perennial AG</h3>
								<p>
									Worked as development branch for Perennial AG from Hamburg, Germany on travel
									industry
									related products
								</p>

								<span href="#" class="btn btn-white">View More</span>
							</div>
						</div>
					</a>
				</article>
			</div>
		</div>
	</section>

	<section class="action-section" id="refferals">
		<div class="quote-slider">
			<div class="media referrals-box iniBoxAnim1">
				<a class="media-left" href="#">
					<div class="media-object"
						 style="background-image: url(Media/referrals/download.jpg)"
					></div>
				</a>
				<div class="media-body iniBoxAnim1">
					<h4 class="media-heading">Marija Mitrovic</h4>
					"Predivna žena, savršena šminka ♥"

				</div>
			</div>
			<div class="media referrals-box iniBoxAnim2">
				<a class="media-left" href="#">
					<div class="media-object"
						 style="background-image: url(Media/referrals/imaz1.jpg)"
					></div>
				</a>
				<div class="media-body">
					<h4 class="media-heading">Jovana Nikolic</h4>
					"Ika je najbolja. Profesionalac, kvalitetna sminka ♥"

				</div>
			</div>
			<div class="media referrals-box iniBoxAnim3">
				<a class="media-left" href="#">
					<div class="media-object"
						 style="background-image: url(Media/referrals/stojko.png)"
					></div>
				</a>
				<div class="media-body">
					<h4 class="media-heading">Ates</h4>
					<p>
						"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
						sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
						viverra
						turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
						felis in faucibus."

					</p>
				</div>
			</div>
		</div>
	</section>

	<div id="map">

	</div>

	<script>


		$(document).ready(function () {
			$('.fade-slider').slick({
				dots: false,
				infinite: true,
				speed: 500,
				fade: true,
				cssEase: 'linear',
				autoplay: true,
				autoplaySpeed: 5000,
				slidesToShow: 1,
				slidesToScroll: 1
			});
			$('.quote-slider').slick({
				autoplay: true,
				autoplaySpeed: 2000,

			});

			function myMap() {
				var mapCanvas = document.getElementById("map");
				var myCenter = new google.maps.LatLng(43.319667, 21.906856);
				var mapOptions = {
					center: myCenter,
					zoom: 18,
					scrollwheel: false,
				};
				var map = new google.maps.Map(mapCanvas, mapOptions);
				var marker = new google.maps.Marker({position: myCenter});
				marker.setMap(map);
			}


		});


	</script>
{% endblock %}