




<div class="panel panel-default divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
	<div class="panel-body" style="padding: 40px;">
		<form id="login-form" name="login-form" class="nobottommargin" method="post">
			<h3>Login</h3>

			<div class="col_full">
				<label for="login-form-username">Username:</label>
				<input type="text" id="login-form-username" name="username" value="" class="form-control not-dark" />
			</div>

			<div class="col_full">
				<label for="login-form-password">Password:</label>
				<input type="password" id="login-form-password" name="password" value="" class="form-control not-dark" />
			</div>

			<div class="col_full nobottommargin">
				<button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
				{#<a href="#" class="fright">Forgot Password?</a>#}
			</div>
		</form>

		<div class="line line-sm"></div>


	</div>
</div>